<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search</title>

    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container-fluid m-4">
        <div class="row">
            <h1>Image Search - CelebA HQ</h1>
        </div>

        <!-- File input -->
        <div class="row">
            <form action="/file-upload" class="dropzone" id="imageDropzone">
            </form>
        </div>

        <!-- Results -->
        <div id="result-card-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 m-2">
            <!-- Will be filled in JS after the request -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- JavaScript Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/dropzone.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>